.header {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

    nav {
        padding-right: 18px;
        display: flex;
        align-items: center;
        gap: 25px;
    }
}